
.navbar{
    justify-content: space-between;
    span{
        padding-right: 10px;
    }
}
ul{
    display: flex;
    align-items: center;
}
ul li{
  margin-left: 20px;
  list-style-type: none;
  font-size: 22px;
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
a:hover{
    text-decoration: underline; 
}
.navbar li.active a {
    font-weight: bold;
    color: #333333;
    cursor: default;
  }
.navbar a {
    color: #fff;
    padding: 3px;
    margin: 0 5px;
} 